@use 'screen';

.cocktail-page {
  position: relative;
  height: 100%;
  text-align: center;
  gap: 24px;
}

:host ::ng-deep {
  .p-panel {
    &-header {
      padding: 0.8rem;
    }

    &-title {
      font-size: 24px;

      @include screen.tablet {
        font-size: 20px;
      }
      @include screen.mobile {
        font-size: 16px;
      }
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }
  }
}
